uWSGI==2.0.15
Flask==1.0.2
Flask-Assets==0.12
Flask-Caching==1.0.0
requests==2.19.1
requests-toolbelt==0.8.0
cassandra-driver==3.14.0
flask-cassandra==0.14
pandas==0.20.3
certifi==2018.4.16
chardet==3.0.4
click==6.7
flexx==0.3.1
idna==2.7
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
urllib3==1.23
webassets==0.12.1
Werkzeug==0.14.1
folium==0.5.0
matplotlib==2.2.3
geopandas==0.4.0
